<div>
    <table>
        <tr>
            <td>Enter the original password:</td> <input type="password" [(ngModel)]="first">
        </tr>
        <tr>
            <td>Enter the original password again:</td> <input type="password" [(ngModel)]="second"> <button class="check" (click)="check()"> check</button>
        </tr>
        <tr>
            <td>Enter the new password:</td> <input type="password" [(ngModel)]="newPassword">
        </tr>
        <button class="confirm" (click)="confirm()"> Confirm</button>

    </table>

</div>
