<div class="popup">
    <div class="reset">Reset Password</div>
    <hr>
    <table>
        <tr>
            <td>Original password:</td> <input id="first" type="password" [(ngModel)]="first">
        </tr>
        <tr>
            <td>New password:</td> <input type="password" [(ngModel)]="second">
        </tr>
        <tr>
            <td>Confirm again:</td> <input id="new" type="password" [(ngModel)]="newPassword">
        </tr>

    </table>
    <button class="confirm" (click)="confirm()"> RESET </button>
    <button class="back" (click)="back()"> BACK </button>
</div>
