.popup{
  width: 404px;
  height: 262px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 1em;
  //text-align: center;
  table{
    margin-top: 20px;
    //text-align: left;
    margin-left: 35px;
    input{
      border: none;
      border-bottom: 1px solid #3D7CB5;
      width: 150px;
      height: 23px;
      font-size: 15px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      color: #333333;

    }
    input:focus{
      outline: none;
      border-bottom: 1px solid #D25443;
    }
  }
}

.reset{
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: large;
}

.confirm{
  font-size: 15px;
  margin-top: 40px;
  margin-left: 130px;
  width: 100px;
  height: 30px;
  position: center;
  background-color: #B3D2E2;
  box-shadow: 0 0 3px #666666;
  color: whitesmoke;

  font-weight: bold;
  border: 5px #666666;
  border-radius: 2px;
  padding-left: 2px;
}
