.upperHalf{
  height: 450px;
  width: 100%;
}
.imgWrapper{
  height: 450px;
  width: 100%;
}
#lightbluesky{
  width: 100%;
  height: 100%;
  object-fit: cover;
  //width: 1700px;
  z-index: -1;
}
.lowerHalf{
  background-color: #eeeeee;
  height: 620px;
  z-index: 2;
}

.maincontent{
  position: relative;
  margin-top: -220px;
  height: 500px;
  width: 900px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,.15);
}
.module-title{
  width: 900px;
  .title{
    padding-top: 20px;
    padding-left: 25px;
    text-align: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    //color: #E6BD62;
    color: #666666;
    font-weight: bold;
    font-size: 20px;

  }
}

.patient-schedule{
  margin: 15px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr ;
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}

.appointment-detail{
  padding: 10px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 2px;
  box-shadow: 0 0px 10px rgba(0,0,0,.15);

}
