<app-patient-sidebar></app-patient-sidebar>
<div class='patient-schedule'>
        <div class='appointment-item' *ngFor="let data of appointments">
            <div class="appointment-detail">
                <div class="DoctorName">Dr. {{data.DoctorName}}</div>
                <div class="getStartTimeDetails">
                    {{getStartTimeDetails(data)}}
                </div>
                <div class="getEndTimeDetails">
                    {{getEndTimeDetails(data)}}
                </div>
            </div>
        </div>
</div>