<footer>
  <div class="footer-left">
    INFO 6150<br>
    Web Design/User Experience Engineering Final Project<br>
    360 Huntington Ave., Boston, Massachusetts 02115
  </div>

  <div class="footer-right">
    <img src="../assets/img/icons8-twitter-圈-30.png">
    <img src="../assets/img/icons8-instagram-30.png">
    <img src="../assets/img/icons8-facebook-30.png">
    <img src="../assets/img/icons8-linkedin-30.png">
    <img src="../assets/img/icons8-vk-圈-30.png">
    <br>857-320-8796 | nhc.info@husky.neu.edu
    <!--          <div class="contact">-->
    <!--            GET IN TOUCH<br>360 Huntington Ave., Boston, Massachusetts 02115-->
    <!--          </div>-->
    <!--          <div class="contact">-->
    <!--            MAKE CALL<br>+1 123 456 7890-->
    <!--          </div>-->
    <!--          <div class="contact">-->
    <!--            SEND MAIL<br>student@husky.neu.edu-->
    <!--          </div>-->
  </div>
  <div class="clear"></div>
  <div class="final">
    <hr>
    2020 All Rights Reserved
  </div>
</footer>
