 <router-outlet></router-outlet>
    <!--Footer-->
    <footer>
        <div>
            <!-- <img class="i7" src="pictures/7.1.jpg" width="150px"><br> -->
            <p>WWeb Design/User Experien Engneering</p><br>
        </div>
        <div>
            <div>
                <p> Final Project</p><br>
            </div>
            <div>
                <div>
                     <p>SEND MAIL</p><br>
                     <p>student@husky.neu.edu</p><br>
                </div>
                <div>
                    <p>MAKE CALL</p><br>
                    <p>+123 456 7890</p><br>
                </div>
                <div>
                    <p>GET IN TOUCH</p><br>
                    <p>123/A</p><br>
                </div> 
            </div>
        </div>
        <div class="final">
            <hr>
            <p>2020 All Right Reserved</p>
        </div>
    </footer>
