// http://localhost:4200/patientAppointment

.doctors-wrapper{
  background-color: white;
  text-align: center;
  height: 600px;
}

.specialization-types{
  width: 300px;
  text-align: center;
  margin: auto;
  top: 0;
  left: 0;
}
