<app-patient-sidebar></app-patient-sidebar>

<div class="doctors-wrapper">
    <header>
<!--        <div class="module-title">-->
<!--            <div class="title">DOCTORS LIST</div>-->
<!--            <div class="underline"></div>-->
<!--        </div>-->
    </header>
<!--  This is where yang's code start -->
  <main>
    <section class="upperHalf">
      <div class="imgWrapper">
        <img id="lightbluesky" src="../../../../../assets/img/lightblue-cut.jpeg" />
      </div>
    </section>
    <section class="lowerHalf">
      <div class="maincontent">
        <div class="module-title">
          <div class="title">Make Appointment</div>
          <div class="underline"><hr style="color: #595959"></div>
        </div>
        <div class="specialization-types">
          <ejs-dropdownlist id='Specialization' [dataSource]='specializationData' [showClearButton]='true'
                            (change)='onSpecializationChange($event)' placeholder='Select a Specialization' popupHeight='230px'>
          </ejs-dropdownlist>
        </div>
        <div class="specialization-detail-wrapper">
          <div #specialistItemObj class='specialist-display'>
            <div (click)='onSpecialistClick($event)' *ngFor="let data of filteredDoctors" class="doctors">
              <table class='specialist-item' id=Specialist_{{data.username}}>
                <tr>
                <td>
                <div id="imgDiv">
                  <img src="../../../../../assets/photo/{{data.username}}.png" height="80px" width="80px"/>
                 <!-- <img id="avatar3" [src]='getImg(data)'height="80px" width="80px" > -->

                  <!-- <img src="../../../../../assets/photo/levis.png" height="80px" width="80px"/> -->
<!--                  <img src="../../../../../assets/photo/{{data.username}}.png" height="80px" width="80px"/>-->
<!--                  <img id="avatar3"  [src]='getImg(data)'height="80px" width="80px">-->
                </div></td>
                <td>
                <div class="specialist-detail">
                  <div class="name">Dr. {{data.Name}}</div>
                  <div class="specialist-experience">
                    <div class="specialization">
                      <span class="label-text">Specialization<br></span>
                      <span class="specialization-text">{{data.Specialization}}</span>
                    </div>
                    <img src="../../../../../assets/img/icons8-线-50.png" height="25px" width="25px"/>
                    <div class="experience">
                      <span class="label-text">Experience<br></span>
                      <span class="specialization-text">{{data.Experience}}</span>
                    </div>
                  </div>
                </div>
                </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>


    </section>
  </main>
</div>
<app-patient-footer></app-patient-footer>
<!--  This is where yang's code ends -->

<!--  this is where Pengwei's code start -->


<!--    <div class="specialization-detail-wrapper">-->
<!--        <div class="specialization-types">-->
<!--            <ejs-dropdownlist id='Specialization' [dataSource]='specializationData' [showClearButton]='true'-->
<!--                (change)='onSpecializationChange($event)' placeholder='Select a Specialization' popupHeight='230px'>-->
<!--            </ejs-dropdownlist>-->
<!--        </div>-->
<!--        <div #specialistItemObj class='specialist-display'>-->
<!--            <div (click)='onSpecialistClick($event)' *ngFor="let data of filteredDoctors">-->
<!--                <div class='specialist-item' id=Specialist_{{data.username}}>-->
<!--                    <div class="specialist-detail">-->
<!--                        <div class="name">Dr. {{data.Name}}</div>-->
<!--                        <div class="specialist-experience">-->
<!--                            <div class="specialization">-->
<!--                                <span class="label-text">Specialization</span>-->
<!--                                <span class="specialization-text">{{data.Specialization}}</span>-->
<!--                            </div>-->
<!--                            <div class="experience">-->
<!--                                <span class="label-text">Experience</span>-->
<!--                                <span class="specialization-text">{{data.Experience}}</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
  <!--  this is where Pengwei's code end -->

