<div class="planner-wrapper">
    <ejs-sidebar #sidebar id="Siderbar" (created)="onCreated($event)" style="visibility: hidden"
        [closeOnDocumentClick]="closeOnDocumentClick">
        <div class="dock">
          <div id="sidebar-item-Avatar"></div>
          <div id="imgDiv">
            <br><br>
            <!--                <img id="avatar" *ngIf="imgURL" [src]="imgURL">-->
            <img src="../../../../../assets/photo/profilepic.jpeg" height="120" width="120"/>
          </div>
          <br><br>
          <div style="padding-top:30px; cursor: pointer" class="SignOut" [routerLink]="SignOut">
            <span class="text" title="SignOut">Sign Out</span>
          </div>
          <br><br><br><br>
            <div class="sidebar-item schdule" [routerLink]="patientSchdule">
                <span class="text" title="dashboard">My Appointment</span>
            </div>
          <br>
            <div class="sidebar-item appointment" [routerLink]="patientAppointment">
                <span class="text" title="appointment">Make Appointment</span>
            </div>
          <br>
            <div class="sidebar-item info" [routerLink]="personalInfo">
                <span class="text" title="info">Personal Info</span>
            </div>
          <br>
            <div class="sidebar-item info" [routerLink]="Message">
                <span class="text" title="message">Messages</span>
            </div>
          <br>

        </div>
    </ejs-sidebar>
    <div style="padding:5px" class="showsidebar">
      <button ejs-button #SidebarBtn id="toggle" (click)="showSidebar()" class="menubtn">
        <img src="../../../../../assets/img/menu.png" height="30" width="30"/>
      </button>

      <div class="title">
        <img src="../assets/img/icons8-twitter-圈-30.png">
        <img src="../assets/img/icons8-instagram-30.png">
        <img src="../assets/img/icons8-facebook-30.png">
        <img src="../assets/img/icons8-linkedin-30.png">
        <img src="../assets/img/icons8-vk-圈-30.png">
      </div>
      <span class="title1">Welcome to Northeastern Health Center</span>

    </div>
</div>
