<app-doctor-sidebar></app-doctor-sidebar>

<div class="doctor-schedule">
    <div class="putAclassHere">
        <div class="schedule-container">
            <ejs-schedule #scheduleObj height='800px' cssClass='doctor-appointment-planner' [showWeekend]='false' [startHour]="startHour" [endHour]='endHour' [selectedDate]="selectedDate" [eventSettings]="eventSettings" [timeScale]="timeScale" [workDays]="workDays"
                [workHours]="workHours" [firstDayOfWeek]='firstDayOfWeek' [showQuickInfo]='showQuickInfo' [currentView]='currentView' (popupOpen)='onPopupOpen($event)'>
                <e-views>
                    <e-view option="Day"></e-view>
                    <e-view option="Week"></e-view>
                    <e-view option="Month"></e-view>
                </e-views>
                <!-- edit-popup -->
                <ng-template #editorTemplate>
                    <table class="custom-event-editor" width="100%" cellpadding="5">
                        <tbody>
                            <tr>
                                <td class="e-textlabel">Patient Name</td>
                                <td colspan="4">
                                    <!-- {{appointments.PatientName}} -->
                                    <input disabled="disabled" id="Subject" class="e-field e-input" type="text" value="" name="PatientName" style="width: 100%" />
                                </td>
                            </tr>
                            <tr>
                                <td class="e-textlabel">Doctor Name</td>
                                <td colspan="4">
                                    {{currentDoctor.Name}}
                                    <!-- <input id="Subject" class="e-field e-input" type="text" value="" name="PatientName" style="width: 100%" /> -->
                                </td>
                            </tr>
                            <tr>
                                <td class="e-textlabel">From</td>
                                <td colspan="4">
                                    <input id="StartTime" class="e-field" type="text" name="StartTime" />
                                </td>
                            </tr>
                            <tr>
                                <td class="e-textlabel">To</td>
                                <td colspan="4">
                                    <input id="EndTime" class="e-field" type="text" name="EndTime" />
                                </td>
                            </tr>
                            <tr>
                                <td class="e-textlabel">Simptom</td>
                                <td colspan="4">
                                    <textarea id="Description" class="e-field e-input" name="Symptims" rows="3" cols="50" style="width: 100%; height: 60px !important; resize: vertical"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ejs-schedule>
        </div>
    </div>
</div>