<app-doctor-sidebar></app-doctor-sidebar>
<div class="personalInfoDiv">
    <h2>Personal-Info</h2>
    <table>
        <tr>
            <td>Name:</td><input type="text" [(ngModel)]="name" />
        </tr>
        <br>
        <tr>
            <td>Phone:</td><input type="text" [(ngModel)]="mobile" />
        </tr>
        <br>
        <tr>
            <td>Email:</td><input type="text" [(ngModel)]="email" /> <br>
        </tr>

    </table>

    <br>

    <button class="update" (click)="update()">Update</button>
    <button id="changePassword" (click)="changePassword()">Change Password</button>
</div>
<div id="cgpassword" [hidden]=true>
    <app-password-management2></app-password-management2>
</div>
