<p>doctor-detail works!</p>
<div class="doctor-schedule">
    <div class="putAclassHere">
        <div class="schedule-container">
            <!-- <ejs-schedule #scheduleObj height='800px' cssClass='doctor-appointment-planner' [showWeekend]='false'
                [startHour]="startHour" [endHour]='endHour' [selectedDate]="selectedDate"
                [eventSettings]="eventSettings" [timeScale]="timeScale" [workDays]="workDays" [workHours]="workHours"
                [firstDayOfWeek]='firstDayOfWeek' [currentView]='currentView' (actionBegin)='onActionBegin($event)'
                (actionComplete)='onActionComplete($event)' (popupOpen)='onPopupOpen($event)'
                (eventRendered)='onEventRendered($event)' (navigating)='onNavigation($event)'
                (dataBound)='onDataBound()'> -->
                <ejs-schedule #scheduleObj height='800px' timezone="UTC" cssClass='doctor-appointment-planner' [showWeekend]='false'
                [startHour]="startHour" [endHour]='endHour' [selectedDate]="selectedDate"
                [eventSettings]="eventSettings" [timeScale]="timeScale" [workDays]="workDays" [workHours]="workHours"
                [firstDayOfWeek]='firstDayOfWeek' [currentView]='currentView' (actionBegin)='onActionBegin($event)'
                (actionComplete)='onActionComplete($event)' (popupOpen)='onPopupOpen($event)'
                (eventRendered)='onEventRendered($event)' (navigating)='onNavigation($event)'>
                <e-resource field='DoctorId' title='Consultation' name='Doctors' [dataSource]='currentDoctor'
                        textField='Name' idField='Id' groupIDField='DepartmentId' colorField='Color'
                        workDaysField='AvailableDays' startHour='StartHour' endHour='EndHour' query='resourceQuery'>
                    </e-resource>
                <e-views>
                    <e-view option="Day"></e-view>
                    <e-view option="Week"></e-view>
                    <e-view option="Month"></e-view>
                </e-views>
            </ejs-schedule>
        </div>
    </div>
</div>