<tr>
    <td>I'm a:</td>
    <input type="radio" value="patients" name="people" id="people1" [(ngModel)]="kindOfUser"> <label for="people1">Patient</label>
    <input type="radio" value="doctors" name="people" id="people2" [(ngModel)]="kindOfUser"> <label for="people2">Doctor</label>
</tr>
<tr>
    <td>Username:</td> <input class="inputbox" id="user" type="text" [(ngModel)]="Username">
</tr>
<!-- <tr>
    <td>Date of Birth:</td> <input class="inputbox" id="dob" type="date" [(ngModel)]="DateOfBirth">
</tr> -->
<tr>
    <td>Phone:</td><input class="inputbox" type="text" id="phone" [(ngModel)]="phone">
</tr>
<tr>
    <td>Email:</td> <input class="inputbox" type="email" id='email' [(ngModel)]="email">
</tr>
<tr>
    <td>New password:</td> <input type="password" [(ngModel)]="second">
</tr>
<tr>
    <td>Confirm again:</td> <input id="new" type="password" [(ngModel)]="newPassword">
</tr>
<div>
    <button class="confirm" (click)="confirm()"> RESET </button>
    <button class="back" (click)="back()"> BACK </button>
</div>
