.content{
    width: 100%;
    height: 810px;
    display: flex;
    .left{
        width: 180px;
        border-right: 1px solid #eee;
        height: 810px;
        span:focus{
            background-color:gray;
        }
    }
    .right{
        flex:1;
        .showMessage{
            height: 550px;
            padding: 30px;
        }
        .addMessage{
            height: 210px;
            button{
                float: right;
                width: 100px;
                height: 35px;
                line-height: 35px;
                font-size: 15px;
            }
            textarea{
                width: 98.5%;
                height: 150px;
                padding: 10px;
                font-size: 15px;
            }
        }
    }
}