$normal-font:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
*{
    font-family: $normal-font;
}
.content{
    width: 100%;
    height: 800px;
    display: flex;
    background-color: white;
    opacity: 0.95;
    .left{
        width: 180px;
        border-right: 1px solid #eee;
        height: 810px;
        opacity:0.8;
        ul{
            margin-left: 0px;
            padding: 0px;
            list-style-type: none;
            .name-span{
                margin: 0;
                list-style-type: none;
                width: 180px;
                height: 30px;
                text-align: left;
                padding-top: 18px;
                text-decoration: none;
            }
            .name-span:checked{
                background-color:lightblue;
                opacity: 0.8;
            }

        }
    }
    .right{
        flex:1;
        // opacity:1;
        .showMessage{
            height: 550px;
            padding: 30px;
            margin: 0;
            padding: 0;
            background: #eee;
            overflow-y:auto;

            .messagelist{
                // z-index: -1;
                list-style-type: none;
                li{
                    padding:10px;
                    // table-layout: fixed;
                    // float: left;
                    // text-align:right;
                }
                .left-name{
                    left: 20px;
                    position: relative;
                    // padding: 5px;
                    word-wrap: break-word;
                    background: rgba(145, 195, 226);
                    border-radius: 5px;
                    align-items: center;
                    border: none;
                    display:inline-block;
                    padding:5px;
                    margin-bottom:10px;
                }
                .left-content {
                    left: 20px;
                    position: relative;
                    padding: 10px;
                    background: rgb(171, 221, 236);
                    border-radius: 5px;
                    display:inline-block;
                    align-items: center;
                    max-width: 500px;
                    min-width: 100px;
                    word-wrap: break-word;
                }
                .left-content:before{
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border: 12px solid transparent;
                    position: absolute;
                    top: 5px;
                    border-right: 16px solid rgb(171, 221, 236);
                    left: -19px;
                }

                //right chat-box css start
                .right-name{
                    // left: 1100px;
                    left: 20px;
                    position: relative;
                    word-wrap: break-word;
                    background: rgb(162, 187, 152);
                    opacity: 1.0;
                    border-radius: 5px;
                    align-items: center;
                    border: none;
                    display:inline-block;
                    padding:5px;
                    margin-bottom:10px;
                }
                .right-content {
                    // left: 1000px;
                    left: 20px;
                    // float: right;
                    position: relative;
                    padding: 10px;
                    background: rgb(213, 238, 211);
                    border-radius: 5px;
                    display:inline-block;
                    align-items: center;
                    max-width: 500px;
                    min-width: 100px;
                    word-wrap: break-word;
                }
                // .right-content:after{
                //     content: '';
                //     display: block;
                //     width: 0;
                //     height: 0;
                //     border: 12px solid transparent;
                //     position: absolute;
                //     top: 5px;
                //     border-left: 16px solid rgb(178, 241, 173);
                //     left: 113px;
                // }
                .right-content:before{
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border: 12px solid transparent;
                    position: absolute;
                    top: 5px;
                    border-right: 16px solid rgb(213, 238, 211);
                    left: -19px;
                }
                //right chat-box css end
            }

        }
        .addMessage{
            height: 210px;
            // top: 1000px;
            button{
                float: right;
                width: 100px;
                height: 35px;
                line-height: 35px;
                font-size: 15px;
            }
            textarea{
                width: 98.5%;
                height: 150px;
                padding: 10px;
                font-size: 15px;
            }
        }
    }
}

img{
    width:20px;
}
.emoji-button{
    width: 25px;
    padding-left: 10px;
    padding-top: 5px;
}
.emoji-div{
    position: absolute;;
    // left:0px;
    // top:0px;
    // display:none;
    margin-top: -100px;
    // top: 100px;
    z-index:1;
    width: 300px;
    height: 100px;
    overflow-y:auto;
    background-color: whitesmoke;
    margin-left:10px;
}

//style of the search function
.search-button{
    width: 25px;
    padding-left: 20px;
    padding-top: 5px;
}
.search-div{
    position: absolute;
    margin-top: -550px;
    margin-left:350px;
    z-index:1;
    width: 550px;
    height: 500px;
    overflow-y:auto;
    background-color: lightgray;
    opacity: 0.5;
    .search-input{
        margin-top: 15px;
        margin-left: 45px;
        width: 400px;
        height: 25px;
    }
    .search-enter{
        padding-left: 8px;
    }
    .showSearchMessage{
        height: 400px;
        width: 300px;
        background-color: whitesmoke;
        height: 400px;
        width: 500px;
        margin-top: 10px;
        margin-left: 25px;
        .searchMessagelist{
            list-style-type: none;
            padding: 0px;
            li{
                padding-top: 5px;
                padding-left: 5px;
                padding-right: 5px;
                .search-name1, .search-name2{
                    color: black;
                    padding-left: 10px;
                    font-size: 12px;

                }
                .search-content{
                    color: black;
                    padding-left: 15px;
                    font-size: 20px;
                }
            }
        }
    } 
}



//the style of the image upload button
// .imageUpload{
//     position: relative;
//     height: 30px;
//     width: 30px;
//     background: white;
//     // border-radius: 3px;
//     border: none;
//     text-align: center;
//     line-height: 30px;
//     // font-size: 11px;
//     // font-family: system-ui;
//     display: inline-block;
//     margin-left:10px;
//     img{
//         width:30px;
//     }
//     input {
//         position: absolute;
//         top: 0px;
//         right: -100px;
//         height: 30px;
//         opacity: 0;
//     }
// }
