<div class="sidebar-wrapper">

    <ejs-sidebar #sidebar id="Siderbar" (created)="onCreated($event)" style="visibility: hidden" [closeOnDocumentClick]="closeOnDocumentClick">
        <div class="dock">

            <!-- <div class="info align-center">
                <div class="content nameContent">
                    <p class='name'>Jane Deo</p>
                    <p class='user-type'>Admin</p>
                </div>
            </div> -->
            <div id="sidebar-item-Avatar">
                <!-- alse (change)="fileChange($event.target.files)" -->
            </div>
            <div id="imgDiv">
                <img id="avatar" *ngIf="imgURL" [src]="imgURL">
            </div>
            <div class="sidebar-item schdule" [routerLink]="doctorSchdule">
                <span class="text" title="schdule">My Schdule</span>
            </div>
            <div class="sidebar-item appointment" [routerLink]="doctorAppointment">
                <span class="text" title="appointment">Work Time</span>
            </div>
            <div class="sidebar-item info" [routerLink]="personalInfo">
                <span class="text" title="info">Personal Info</span>
            </div>
            <div style="padding:100px" class="message" [routerLink]="Message">
                <span class="text" title="message">Message</span>
            </div>
            <div style="padding:100px" class="SignOut" [routerLink]="SignOut">
                <span class="text" title="SignOut">Sign Out</span>
            </div>
        </div>
    </ejs-sidebar>

    <div style="padding:100px" class="showsidebar">
        <button ejs-button #SidebarBtn id="toggle" (click)="showSidebar()">Open Sidebar</button>
    </div>

    <div style="padding:5px" class="showsidebar">
        <button ejs-button #SidebarBtn id="toggle" (click)="showSidebar()" class="menubtn">
      <img src="../../../../../assets/img/menu.png" height="30" width="30"/></button>

        <span class="title">
        <img src="../assets/img/icons8-twitter-圈-30.png">
        <img src="../assets/img/icons8-instagram-30.png">
        <img src="../assets/img/icons8-facebook-30.png">
        <img src="../assets/img/icons8-linkedin-30.png">
        <img src="../assets/img/icons8-vk-圈-30.png">
      </span>
        <span class="title1">Welcome to Northeastern Health Center</span>
    </div>

</div>
