<body id="registerBody">
    <div>
        <table>
            <tr>
                <input type="radio" value="patient" name="people" id="people1" [(ngModel)]="kindOfUser"> <label for="people1" (click)="DeleteOption()">Patient</label>
                <input type="radio" value="doctor" name="people" id="people2" [(ngModel)]="kindOfUser"> <label for="people2" (click)="AddOption()">Doctor</label>
            </tr>
            <tr>
                <td>Name:</td> <input type="text" [(ngModel)]="Name">
            </tr>

            <tr>
                <input type="radio" value="Male" name="gender" id="sex1" [(ngModel)]="sex"> <label for="sex1">Male</label>
                <input type="radio" value="Female" name="gender" id="sex2" [(ngModel)]="sex"> <label for="sex2">Female</label>
            </tr>
            <tr>
                <td>Date Of Birth:</td> <input type="date" [(ngModel)]="DateOfBirth">
            </tr>
            <tr>
                <td>Phone:</td><input type="text" id="phone" [(ngModel)]="phone"><a>format: xxx-xxx-xxxx</a>
            </tr>

            <tr>
                <td>Email:</td> <input type="email" id='email' [(ngModel)]="email"><a>format: xxxx@xxxx.xxx</a>
            </tr>

            <tr>
                <td>Address:</td> <input type="text" [(ngModel)]="address">
            </tr>
            <tr>
                <td>Username:</td> <input type="text" [(ngModel)]="Username">
            </tr>
            <tr>
                <td>Password:</td> <input type="password" [(ngModel)]="Password"><br>{{Password | json}}
            </tr>
        </table>
    </div>
    <div>
        <button id="registerBtn" (click)="register()">Confirm</button>
        <button id="return" (click)="back()">Back</button>
    </div>

</body>
