<div>
    <h1>Change Password!</h1>
    <table>
        <tr>
            <td>Enter the original password:</td> <input type="password" id="oriPassword" [(ngModel)]="first">
        </tr>
        <tr>
            <td>Enter the original password again:</td> <input type="password" [(ngModel)]="second">
        </tr>
        <tr>
            <td>Enter the new password:</td> <input type="password" id="confirm" [(ngModel)]="newPassword">
        </tr>
        <button class="confirm" (click)="confirm()"> RESET</button>
        <button class="back" (click)="back()"> BACK </button>
    </table>

</div>
