<!--<div>-->
<!--    <h1>Change Password!</h1>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>Enter the original password:</td> <input type="password" id="oriPassword" [(ngModel)]="first">-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Enter the original password again:</td> <input type="password" [(ngModel)]="second">-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Enter the new password:</td> <input type="password" id="confirm" [(ngModel)]="newPassword">-->
<!--        </tr>-->
<!--        <button class="confirm" (click)="confirm()"> RESET</button>-->
<!--        <button class="back" (click)="back()"> BACK </button>-->
<!--    </table>-->

<!--</div>-->

<!-- yang's code starts from here -->
<div class="popup">
  <div class="reset">
    <button class="back" (click)="back()"> < </button>
    <span>Reset Password</span>
  </div>
  <hr>
  <table>
    <tr>
      <td>Original password:</td> <input id="first" type="password" [(ngModel)]="first">
    </tr>
    <tr>
      <td>New password:</td> <input type="password" [(ngModel)]="second">
    </tr>
    <tr>
      <td>Confirm again:</td> <input id="new" type="password" [(ngModel)]="newPassword">
    </tr>

  </table>
  <button class="confirm" (click)="confirm()"> RESET </button>

</div>

